.mobileTools--container {
    flex:1;
    background-color: var(--accent-medium-brown);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (min-width:500px){
    .mobileTools--container {
        justify-content: flex-end;
        background-color: var(--accent-medium-brown);
    }
 }