.book--container {
    max-width: 43vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    max-height: 35vh;
    padding: 5px;
    color: var(--accent-dark-brown);
    background-color: white;
}

.book--container > p {
    font-size: 3.5vw;
    margin:2px 0 2px 5px;
    word-wrap:break-word;
    font-family: var(--Paragraph-font-style)
}

.book__title--container {
    display: flex;
    justify-content: end;
}

.book--container .book__title--style {
    font-size: var(--Header-Mobile-Font-Size);
    text-align: center;
    font-family: var(--Header-font-style);
    font-weight: bold;
    margin: 0;
}

hr {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-color: var(--accent-medium-brown);
    margin-bottom:15px;
}

.book__detailIcon--style {
    max-height: 15px;
    margin: 5px;
}

@media only screen and (min-width:500px){
    .book--container {
        max-width: 25vw;
    }

    .book--container > p {
        font-size: 2vw;
    }

}

@media only screen and (min-width:600px){
    .book--container {
        max-width: 20vw;
    }

    .book--container > p {
        font-size: 1.5vw;
    }

}

@media only screen and (min-width:1000px){
    .book--container {
        max-width: 18vw;
        max-height: 30vh;
    }

    .book--container > p {
        font-size: 1.2vw;
    }

}

@media only screen and (min-width:1300px){
    .book--container {
        max-width: 10vw;
    }

    .book--container > p {
        font-size: 1vw;
    }

}