.book--container {
    max-width: 43vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    max-height: 210px;
    padding: 5px;
    background-color: white;
    color: var(--accent-dark-brown);
}

.book--container > p, .bookInformation--container  > p {
    font-size: 3.5vw;
    margin:2px 0 2px 5px;
    word-wrap:break-word;
    font-family: var(--Paragraph-font-style)
}

.book--container .book__title--style {
    font-size: var(--Header-Mobile-Font-Size);
    text-align: center;
    font-family: var(--Header-font-style);
    font-weight: bold;
    margin: 0;
}

hr {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-color: var(--accent-medium-brown);
    margin-bottom:15px;
}

.book__icons--container {
    display: flex;
    justify-content: space-between;
}

.book__detailIcon--style {
    max-height: 15px;
    max-width: 15px;
    margin: 5px;
    align-self: self-end;
}

.book__heartIcon--style {
    max-height: 15px;
    max-width: 15px;
    margin: 5px;
    align-self: self-start;
}

.detailsInformation--container {
    display: none;
}

.book--container:hover .bookInformation--container, .book--container:hover .book__detailIcon--style {
    display: none;
} 

.book--container:hover .detailsInformation--container {
    display: block;
    margin-top: 25px
}

.hide {
    visibility: hidden;
}

@media only screen and (min-width:500px){
    .book--container {
       max-width: 200px;
    }

    .book--container .bookInformation--container  > p {
        font-size: 14px;
    }

}