
.header--container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    color: var(--accent-dark-brown);
    font-size: var(--Header-Mobile-Font-Size);
    font-family: var(--Header-font-style);
    flex:.5;
}

.title__topLine--style {
    margin-left: -20px;
}

.title__bottomLine--style {
    margin-left: 20px;
}