
.header--container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    color: var(--accent-dark-brown);
    font-size: var(--Header-Mobile-Font-Size);
}

.title__topLine--style {
    margin-left: -15px;
}

.title__bottomLine--style {
    margin-left: 15px;
}